.btn {
    color: white;
    background-color: #8f0000;
}
body {
    background-color: gray;
}
.tab-content {
    color: white;
}
img {
    width: 100%;
    margin-top: 20px;
}
footer {
    margin-top: 20px;
}
h3 {
    text-shadow: 2px 2px black;
}
